* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/public/images/line.png"), #607eaa;
  font-family: "Montserrat", sans-serif;
}

a,
button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
